header {
    font-family: 'Times New Roman', Times, serif;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

/* .header_container {
    display: flex;
    justify-content: space-between;
} */

.title_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

img {
    width: auto;
    height: 200px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}