body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #1f2937;
    padding: 40px 100px;
    color: #f9faf8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links-header a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;;
}

.subtitle {
    font-size: 18px;
    color: #e5e7e8;
    margin-bottom: 20px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-image img {
    height: 250px;
}